@import url('reset.css');
@import url('/assets/img/pristine-detailing-logo.png');

:root {
  --logo-red: #891717;
  --red-text: #ab1d1d;
  --background-color: #252525;
  --light-text: #f1f1f1;
  --card-background: #4c4c4c;
  --margin-top: 50px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  font-size: 16px;
  min-height: 100dvh;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

header {
  background-color: var(--background-color);
  height: 90px;
  width: 100%;
}

.logo {
  background-image: url("../../assets/img/pristine-detailing-logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 55px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 50px;
}

.navlinks li {
  display: inline-block;
}

.navlinks a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--red-text);
  transition: ease-in-out 0.1s;
}

/*** HOVER ***/

.navlinks a:hover {
  color: var(--logo-red);
  cursor: pointer;
}

/*** HERO BANNER ***/

.hero-banner {
  display: block;
  width: 100%;
  height: 60rem;
  object-fit: cover;
}

/*** SERVICES ***/

.service-container {
  background-color: #dfdfdf;
  height: 70rem;
}

.container-box {
  text-align: center;
  padding: 2rem 0rem;
}

.offer-text {
  font-size: 28px;
  color: var(--red-text);
  margin-top: 30px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8rem;
  margin-top: 2rem;
}

.service-card {
  background-color: #f1f1f1;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 1.5rem;
  max-width: 300px;
  flex: 1;
}

.service-card h3 {
  margin-bottom: 1rem;
}

.service-card img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.service-card ul {
  text-align: left;
  list-style: none;
}

.service-card ul li {
  font-size: 18px;
  margin-bottom: 0.5rem;
  color: var(--background-color);
}

.service-title {
  font-size: 22px;
  color: var(--background-color);
}

.fa-check {
  color: var(--logo-red);
  font-size: 14px;
  text-align: left;
  margin-right: 10px;
}

/*** Pricing Carousel ***/

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70rem;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.carousel-container {
  overflow: hidden;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel-card {
  flex: 0 0 100%;
  width: 100%;
  height: 45rem;
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.card-title {
  font-size: 3.4rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: var(--light-text);
  margin-bottom: 25px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  gap: 40px;
  box-sizing: border-box;
}

.card-body img {
  width: 60%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card-info {
  width: 50%;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.description-list {
  margin: 0;
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}

.description-list li {
  font-size: 2.8rem;
  color: var(--light-text);
  margin-bottom: 12px;
  list-style-type: disc;
}

.price-title {
  font-size: 2.8rem;
  color: var(--light-text);
  margin-right: 15px;
}

.card-info .price {
  font-size: 2.8rem;
  color: var(--red-text);
}

.nav {
  background-color: var(--background-color);
  color: var(--light-text);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;


  :hover{
    color: var(--logo-red);
  }
}


.prev {
  left: -20px;
}

.next {
  right: -20px;
}

.fa-arrow-left, .fa-arrow-right {
  font-size: 30px;
}

/*** ABOUT US ***/

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-text);
  width: 100%;
  height: 50rem;
}

.about-us-header {
  font-size: 32px;
  color: var(--red-text);
  margin-top: var(--margin-top);
}

.description {
  font-size: 24px;
  color: var(--card-background);
  text-align: center;
  width: 60%;
  margin-top: 10px;
}

.book-now {
  color: var(--light-text);
  background-color: var(--red-text);
  width: 12rem;
  height: 5rem;
  border-radius: 12px;
  margin-top: 25px;
  transition: 0.3s ease-in-out;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  line-height: 5rem;
}

.book-now:hover {
  background-color: var(--logo-red);
  color: var(--light-text);
  cursor: pointer;
}

/*** FOOTER ***/

footer { 
  width: 100%;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  margin-top: 10px;
}

.footer-navlinks {
  list-style: none;
  display: flex;
  gap: 45px;
}

.footer-navlinks li {
  display: inline-block;
}

.footer-navlinks a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--red-text);
  transition: ease-in-out 0.1s;
}

.fa-facebook-f, .fa-instagram, .fa-phone-alt {
  font-size: 28px;
}

.fa-facebook-f {
  color: #1877F2
}

.fa-instagram {
  color: #E1306C;
}

.fa-phone-alt {
  color: #4CAF50;
}